{% extends 'base.html' %}

{% block content %}

    <style nonce="{{nonce}}">
        .delete-icon {
            display: none;
            cursor: pointer;
            color: #d64161;
        }

        .card:hover .delete-icon {
            display: block;
        }

        .recipe-link {
            color:#d64161;
            width:70%;
        }
    </style>

    <div>
          <main class="container pt-5">
              <h1> Hi {{first_name}}, </h1>
              {% if recipes %}
              <div class="container mt-5">
                  <p>Here are your recipes:</p>
                <div class="row">
                    {% for recipe in recipes%}
                      <div class="col-md-4 col-sm-6 mb-4">
                          <div class="card shadow p-2 position-relative d-flex flex-row justify-content-between">
                              <a target="_blank" href={{recipe.true_name}} class="text-decoration-none text-danger m-2 recipe-link">{{recipe.name}}</a>
                              <p class="delete-icon ms-auto" recipe-id="{{recipe._id}}">X</p>
                          </div>

                      </div>

                    {% endfor %}
                  </div>
              </div>

              {% else %}
              <h1> You have no recipes. </h1>
              {% endif %}
          </main>

    <script nonce="{{nonce}}">
        function deleteRecipe(recipeId) {
            if (confirm("Are you sure you want to delete this recipe?")) {
                fetch(`/delete_recipe/${recipeId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Reload the page or remove the card element
                        location.reload();
                    } else {
                        alert("Failed to delete the recipe.");
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }

        const deleteButtons = document.getElementsByClassName('delete-icon');

        for (let i = 0; i<deleteButtons.length; i++) {
            const recipeId = deleteButtons[i].getAttribute('recipe-id');
            deleteButtons[i].addEventListener('click', () => {

                deleteRecipe(recipeId);
            })
        }
    </script>
    </div>

{% endblock %}