{% extends 'base.html' %}

{% block content %}

            <style>

            </style>

                <body>
                    <main class="container mx-auto p-7" style="display:flex;justify-content:center;align-items:center;height:100%;">
                        <div class="card shadow p-4" style="display:inline-block; backdrop-filter:blur(10px);">
                            <h1 style="font-size:4vw;color:black;"> Here is your new recipe:
                                    <p style="width:50%;color:#f54254;font-size:1vw;">{{ recipe }}</p>
                            </h1>
                            <div class="d-md-flex gap-2 d-grid ">
                                <a href="{{ url_for('download_pdf', pdf_name=pdf_name) }}" download>
                                    <input class="btn btn-info me-md-2" value="Save recipe" type="button" style="background-color:#f54254;color:white;border:none;"/>
                                </a>
                                <a href="{{ url_for('index') }}">
                                    <input class="btn btn-secondary" value="Create a new recipe" type="submit"/>
                                </a>
                            </div>
                        </div>

                    </main>

                </body>





{% endblock %}
