{% extends 'base.html' %}

{% block content %}
    <style nonce="{{nonce}}">
        h1 {
            font-family:Arial;
        }

        .main-container {
            min-height: calc(100vh - 200px);
        }

        .first-paragraph {
            font-size:50%;
            max-width:1000px;
            color:#d64161;
        }

        .create-buttons {
            text-decoration:none;
            min-width:300px;
        }

        .create-gifs {
            width:80%;
            border-radius:15px;
        }

        .gifs-container {
            margin-bottom:10%;
            margin-top:5%;
            background-color:#d64161;
        }

        .gifs-inner-container {
            align-items:center;
        }

        .gifs-container-title {
            text-align:center;
        }

        .gifs-container-text {
            color:white;
            min-width
        }

        .create-account-container {
            width:100%;
            gap:10%;
        }

        .create-account-button {
            text-decoration:none;
            background-color:#d64161;
            display: flex;
            align-items: center;
            justify-content: center;
            max-height:50px;
            min-width:100px;
        }

        .create-account-text {
            color:#d64161;
        }

        .create-account-container {
            width:70%; height:120%;
        }


    </style>

    <div class="main-container container-fluid d-flex flex-column ms-5 pb-5 py-5 w-75 mt-5 justify-content-center mx-auto">
        <h1 style="w-75"> Anyone should get to eat good food
            <p class="w-75 mt-3 mb-3 first-paragraph" >
                Created by a college student with allergies to dairy, eggs, nuts and kiwi, Allergen AI aims to help people with restrictive food allergies find options when it comes to eating food that one can actually enjoy.
                Whether you're a person with restrictive food allergies yourself, a parent that wishes to give their child more possibilities at the dinner table, or just a loved one that
                cares about another that often has to eat alone, this tool was made for you. Enjoy!
            </p>
            <div class="d-flex flex-column flex-md-row gap-3 gap-md-5" >
                <a class="mt-3 btn w-40 text-center redirectbutton create-buttons" href="create?recipeRequired=yes">
                    Change a recipe
                </a>
                <a class="mt-3 btn w-40 text-center redirectbutton create-buttons" href="create?recipeRequired=no">
                    Create a new recipe
                </a>
            </div>
        </h1>

    </div>
    <div class="d-flex flex-column justify-content-center align-items-stretch gifs-container">
        <div class="container">
            <h1 class="gifs-container-title text-white">Make a recipe anyone can enjoy, <strong> instantly </strong> </h1>
        </div>
        <div class="container-fluid img-fluid d-flex flex-row justify-content-center pt-5 w-75 gifs-inner-container">
            <div>
                <img src="static/step1-allergysite.gif" class="img-fluid create-gifs"/>
                <p class="gifs-container-text" >1 - Enter the name of your meal</p>
            </div>
            <div>
                <img src="static/step2-allergysite.gif" class="img-fluid create-gifs"/>
                <p class="gifs-container-text" >2 - Copy-paste your recipe</p>
            </div>
            <div>
                <img src="static/step3-allergysite.gif" class="img-fluid create-gifs"/>
                <p class="gifs-container-text" >3 - Enter your allergies and submit. Voila!</p>
            </div>
        </div>

    </div>

    <div class="d-flex flex-row justify-content-between align-items-center mt-6">
        <div class="ms-5 pt-2">
            <h1 class="create-account-text">You can save your recipes, too</h1>
            <p class="create-account-text">Download your recipes after you create them. If you create a free account, your recipes will be saved on your profile --></p>
        </div>
            <a href="/signup" class="create-account-button btn text-center w-20 me-3 text-white ">
                Create an account
            </a>
    </div>



{% endblock %}
